/*
    Project 0
    style.scss
*/

/* initialize color variables */
$background-site: #99ffff;
$background-red: red;
$background-green: green;
$background-blue: blue;
$background-yellow: yellow;
$background-orange: orange;

/* site-wide properties */
body {
    background-color:  $background-site;
    font-size: 2em; 
}
%heading-shared {
    font-family: Helvetica, serif;
    font-weight: bold;
    padding: 5px;
}
h1 {
    @extend %heading-shared;
    color: #ffcc00;
    background-color: #02558B;
    border: #ffcc00 5px solid;
    border-bottom: 20px #ffcc00 double;
    margin-bottom: 50px;
    text-align: center;
    width: 50%;
}
h2 {
    @extend %heading-shared;
    color: #02558B;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}
h3 {
    @extend %heading-shared;
    text-align: center;
    color: $background-blue;
    font-size: 1em;    
}


/* Bootstrap Overrides */
.navbar-light {
    width: 70%; 
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: 30px;
    li {
        background-color: $background-yellow;
        color: blue;
        margin: 20px;
        padding: 10px;  
        border: 3px solid black;
        font-size: 1.5em;
    } 
}

.row div {
    background-color: $background-yellow;
    margin-bottom: 20px;
    padding: 10px;  
    border: 3px solid black; 
}
/* Menu Style */
nav a:hover {
    background-color: $background-orange;
}


/* list style */
#list {
    width: 50%;
    background-color: $background-yellow;
    display: block; 
    margin-left: 25% ;
    border: 3px purple solid;
}
ul li {
    font-style: italic;
    margin: 10px;
    padding: 5px;
    padding-left: 30px;
    color: #02558B;
    font-weight: normal;
}
ul h2{
    font-weight: bold;
    color: purple;
}


/* table style */
table {
    border: 1px solid black;
    background-color: $background-yellow;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}
th {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
#red {
    background-color: $background-red;
}
#green {
    background-color: $background-green;
}
#blue {
    background-color: $background-blue;
}



/* image style */
img {
    width: 100%;
    padding: 5px;
    background-color: yellow;
    border: #ffcc00 5px solid;
}
